div.Normal, caption.Normal
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
}

div.Heading_5, caption.Heading_5
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: medium;
  font-weight: bolder;
  margin-bottom: 6pt;
  margin-left: 36pt;
  margin-top: 12pt;
}

div.Code, caption.Code
{
  background-color: #F2F2F2;
  font-family: "Courier New";
  font-size: small;
  margin-left: 54pt;
  overflow: visible;
  padding-bottom: 3pt;
  padding-top: 3pt;
  vertical-align: baseline;
  white-space: pre;
}

div.List_Number, caption.List_Number
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  margin-bottom: 6pt;
  margin-left: 54pt;
  margin-top: 6pt;
  text-indent: -18pt;
}

div.List_Bullet, caption.List_Bullet
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  margin-bottom: 6pt;
  margin-left: 54pt;
  margin-top: 6pt;
  text-indent: -18pt;
}

div.List_Continue, caption.List_Continue
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  margin-bottom: 12pt;
  margin-left: 54pt;
  margin-top: 12pt;
}

div.Code_Indent, caption.Code_Indent
{
  background-color: #F2F2F2;
  font-family: "Courier New";
  font-size: small;
  margin-left: 54pt;
  overflow: visible;
  padding-bottom: 3pt;
  padding-top: 3pt;
  vertical-align: baseline;
  white-space: pre;
}

div.Body_Text, caption.Body_Text
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;;
  font-size: small;
  margin-bottom: 12pt;
  margin-left: 36pt;
  margin-top: 6pt;
}

div.FaqDropDown, caption.FaqDropDown
{
  color: #004831;
  cursor: pointer;
  cursor: hand;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;;
  font-size: medium;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 36pt;
  margin-top: 12pt;
  text-decoration: underline;
}

div.Heading_2_Top, caption.Heading_2_Top
{
  color: #004831;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: x-large;
  margin-bottom: 6pt;
  margin-left: 36pt;
  margin-top: 12pt;
  padding-top: 9pt;
}

span.Default_Paragraph_Font
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;;
}

span.Weblink
{
  color: #006445;
  font-family: "Courier New", Courier, FreeMono, mono;
  font-size: small;
  text-decoration: underline;
}

span.Code_Char
{
  font-family: "Courier New";
}

table.Table_Normal
{
  border-bottom-color: Silver;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-collapse: collapse;
  border-left-color: Silver;
  border-left-style: solid;
  border-left-width: thin;
  border-right-color: Silver;
  border-right-style: solid;
  border-right-width: thin;
  border-top-color: Silver;
  border-top-style: solid;
  border-top-width: thin;
  margin-left: -5.4pt;
  padding-bottom: 0pt;
  padding-left: 5.4pt;
  padding-right: 5.4pt;
  padding-top: 0pt;
}

img.Default
{
  margin-left: .5in;
}

