div.Normal, caption.Normal
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
}

div.Heading_1, caption.Heading_1
{
  color: #004831;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: xx-large;
  margin-bottom: 5pt;
  margin-left: 36pt;
  margin-top: 12pt;
  padding-top: 11pt;
  text-align: left;
}

div.Heading_2, caption.Heading_2
{
  border-top-color: #DEE4F0;
  border-top-style: solid;
  border-top-width: 2pt;
  color: #004831;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: x-large;
  margin-bottom: 6pt;
  margin-left: 36pt;
  margin-top: 12pt;
  padding-top: 9pt;
}

div.Heading_3, caption.Heading_3
{
  border-top-color: #DEE4F0;
  border-top-style: solid;
  border-top-width: 2pt;
  color: #004831;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: large;
  margin-bottom: 6pt;
  margin-left: 36pt;
  margin-top: 12pt;
  padding-top: 9pt;
}

div.Heading_4, caption.Heading_4
{
  border-top-color: #DEE4F0;
  border-top-style: solid;
  border-top-width: 1pt;
  color: #004831;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: medium;
  font-weight: bolder;
  margin-bottom: 6pt;
  margin-left: 36pt;
  margin-top: 12pt;
  padding-top: 9pt;
}

div.Heading_5, caption.Heading_5
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: medium;
  font-weight: bolder;
  margin-bottom: 6pt;
  margin-left: 36pt;
  margin-top: 12pt;
}

div.Body_Text, caption.Body_Text
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;;
  font-size: small;
  margin-bottom: 12pt;
  margin-left: 36pt;
  margin-top: 6pt;
}

div.Code, caption.Code
{
  background-color: #F2F2F2;
  font-family: "Courier New";
  font-size: small;
  margin-left: 54pt;
  overflow: visible;
  padding-bottom: 3pt;
  padding-top: 3pt;
  vertical-align: baseline;
  white-space: pre;
}

div.List_Number, caption.List_Number
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  margin-bottom: 6pt;
  margin-left: 54pt;
  margin-top: 6pt;
  text-indent: -18pt;
}

div.List_Bullet_2, caption.List_Bullet_2
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  margin-bottom: 6pt;
  margin-left: 72pt;
  margin-top: 6pt;
  text-indent: -18pt;
}

div.List_Bullet, caption.List_Bullet
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  margin-bottom: 6pt;
  margin-left: 54pt;
  margin-top: 6pt;
  text-indent: -18pt;
}

div.List_Continue, caption.List_Continue
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  margin-bottom: 12pt;
  margin-left: 54pt;
  margin-top: 12pt;
}

div.List_Continue_2, caption.List_Continue_2
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  margin-bottom: 12pt;
  margin-left: 72pt;
  margin-top: 12pt;
}

div.Number_Continue, caption.Number_Continue
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  margin-bottom: 6pt;
  margin-left: 54pt;
  margin-top: 6pt;
}

div.Code_Indent, caption.Code_Indent
{
  background-color: #F2F2F2;
  font-family: "Courier New";
  font-size: small;
  margin-left: 72pt;
  overflow: visible;
  padding-bottom: 3pt;
  padding-top: 3pt;
  vertical-align: baseline;
  white-space: pre;
}

div.Cell_Text, caption.Cell_Text
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  margin-bottom: 2pt;
  margin-top: 2pt;
}

div.Cell_Heading, caption.Cell_Heading
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 1pt;
  margin-top: 6pt;
  padding-left: 4px;
  text-align: center;
  vertical-align: bottom;
}

span.Default_Paragraph_Font
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;;
}

span.Body_Text_Char
{
  font-family: "Palatino Linotype";
}

span.Code_Char
{
  font-family: "Courier New";
}

span.Emphasis
{
  font-size: small;
  font-style: italic;
}

span.Hyperlink
{
  color: #006445;
  text-decoration: underline;
}

span.Strong
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;;
  font-size: small;
  font-weight: bold;
}

span.Weblink
{
  color: #006445;
  font-family: "Courier New", Courier, FreeMono, mono;
  font-size: small;
  text-decoration: underline;
}

table.Table_Normal
{
  border-bottom-color: Silver;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-collapse: collapse;
  border-left-color: Silver;
  border-left-style: solid;
  border-left-width: thin;
  border-right-color: Silver;
  border-right-style: solid;
  border-right-width: thin;
  border-top-color: Silver;
  border-top-style: solid;
  border-top-width: thin;
  margin-left: -5.4pt;
  padding-bottom: 0pt;
  padding-left: 5.4pt;
  padding-right: 5.4pt;
  padding-top: 0pt;
}

img.Default
{
  margin-left: .5in;
}

