div.Normal, caption.Normal
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
}

div.Heading_1, caption.Heading_1
{
  color: #004831;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: xx-large;
  margin-bottom: 5pt;
  margin-left: 36pt;
  margin-top: 12pt;
  padding-top: 11pt;
  text-align: left;
}

div.Heading_5, caption.Heading_5
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: medium;
  font-weight: bolder;
  margin-bottom: 6pt;
  margin-left: 36pt;
  margin-top: 12pt;
}

div.List_Bullet, caption.List_Bullet
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  margin-bottom: 6pt;
  margin-left: 54pt;
  margin-top: 6pt;
  text-indent: -18pt;
}

div.List_Continue, caption.List_Continue
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  margin-bottom: 12pt;
  margin-left: 54pt;
  margin-top: 12pt;
}

div.Body_Text, caption.Body_Text
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;;
  font-size: small;
  margin-bottom: 12pt;
  margin-left: 36pt;
  margin-top: 6pt;
}

span.Default_Paragraph_Font
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;;
}

table.Table_Normal
{
  border-bottom-color: Silver;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-collapse: collapse;
  border-left-color: Silver;
  border-left-style: solid;
  border-left-width: thin;
  border-right-color: Silver;
  border-right-style: solid;
  border-right-width: thin;
  border-top-color: Silver;
  border-top-style: solid;
  border-top-width: thin;
  margin-left: -5.4pt;
  padding-bottom: 0pt;
  padding-left: 5.4pt;
  padding-right: 5.4pt;
  padding-top: 0pt;
}

img.Default
{
  margin-left: .5in;
}

